#container{
    text-align: center
}

.noteList{
    list-style: none;
    text-align: center;
    padding: 0;
    display: inline-block;
}

.gu-mirror {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    opacity: 0.75;
    position: fixed;
    pointer-events: none;
}