<div class="noteItem list-group-item" [class.list-group-item-success]="note.complete">
    <div class="checkWrap"><input type="checkbox" class="noteCheckbox" [checked] = "note.complete" (click)="toggleChecked()"></div>
    <label class="noteContents">{{note.contents}}</label>
    <div class="removeWrap">
        <button title="remove" class="btn btn-default btn-sm removeButton" (click)="removeNote()">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
    </div>
</div>